html{
    font-size: 16px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 120rem;
}

#header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 0;
    width: 100%;
    border-bottom: 1px solid black;
    z-index: 10;
}

#header-img {
    width:  25rem;
    height: 30%;
}

#nav-list {
    display: flex;
    margin: 0;
}

.nav-item {
    padding: 0 1rem;
}


/**BEGIN MAIN SECTION**/

/**HEADING AND INPUT SECTION**/

#heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

#heading h1{
    padding: 1rem;
}

#heading form input{
    margin: 1rem 0;
    padding: 0.7rem 0.5rem;
    outline: none;
    border: none;
    border-radius: 10px;
    box-shadow: 0 3px 5px;
}

#email{
    padding: 0.7rem 0.5rem;

}

#submit{
    width: 8rem;
    background: none;
}


/**FEATURES SECTION**/

#features {
    display: flex;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


/**VIDEO SECTION**/

#video{
    background-image: url("https://i.ytimg.com/vi_webp/y8Yv4pnO7qc/sddefault.webp")
}
