html{
    font-size: 16px;
    font-family: "Noto Sans";
    background-color: #f6f7eb;
}

a{
    color: #28262c;
    text-decoration: none;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100rem;
    margin: auto;
}


/**HEADER SECTION**/

#header {
    position: fixed;
    width: 100%;
    padding: 1rem;
    border-bottom: 2px solid #FF8C00;
    z-index: 10;
    background-color: #c3a995;
}

#content-container{
    display: flex;
    max-width: 100rem;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

#header-img {
    width:  25rem;
    height: 30%;
}

#nav-list {
    display: flex;
    padding-right: 1.6rem;
}

.nav-item {
    padding: 0 1rem;
}


/**BEGIN MAIN SECTION**/

/**HEADING AND INPUT SECTION**/

#heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    font-size: 3rem;
}

#heading h1{
    padding: 1rem;
}

#heading form input{
    margin: 1rem 0;
    padding: 0.7rem 0.5rem;
    outline: none;
    border: none;
    border-radius: 10px;
    box-shadow: 0 3px 5px;
}

#email{
    padding: 0.7rem 0.5rem;

}

#submit{
    width: 8rem;
    background: none;
}


.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: 20rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
    margin: 1rem;
    background-color: #CBCCC1;
    overflow: hidden;
}

.title{
    font-size: 2rem;
    color: #28262C;
}

.content{
    font-size: 1.2rem;
}


/**FEATURES SECTION**/

#features {
    display: flex;
    justify-content: space-around;
}

#features .icon{
    width: 100%;
    color: #ff8c00;
    background-color: #28262C;
    padding: 2rem;
}

#features .title{
    margin: 2rem;
}

#features .content{
    padding: 0 1rem;
    margin-bottom: 2rem;
}


/**VIDEO SECTION**/

#video{
    margin: 3rem;
    border: 2px solid #FF8C00;
    background-color: #28262c;
    padding: 1rem;
    border-radius: 10px;
}


/**PRICING SECTION**/

#pricing {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#pricing .card{
    justify-content: space-between;
}

#pricing .title{
    width: 100%;
    padding: 2rem;
    background-color: #FF8C00;
}


/**FOOTER SECTION**/

#footer {
    width: auto;
    color: #28262c;
    margin-top: 3rem;
    padding: 1rem;
    background-color: #c3a995;

}

#footer-container{
    display: flex;
    justify-content: flex-end;
    max-width: 100rem;
    margin: auto;
}

#wrapper{
    padding-right: 1.1rem;
}


#links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.3rem;
}

